.gapu-content {
    width: 65% !important;
}
.gapu-content .about-img {
    width: 100%;
}
.gapu-content .content-about {
    margin: 0 auto;
    text-align: left;
    margin: 40px auto 40px auto;
    padding: 0 20px;
}
.gapu-content .content-about .about-item {
    border-top: 2px solid #333;
    padding-left: 0;
    padding-right: 0;
}
.gapu-content .content-about .about-item .each{
    padding: 20px;
    border-bottom: 1px solid #333;
    font-weight: 100 !important;
}
.gapu-content .content-about .first-column .each{
    border-right: 1px solid #333;
    font-weight: 100 !important;
}
.gapu-content .content-about .about-item .each .title {
    color: #6F6F6F;
    width: 30%;
    display: inline-block;
    font-weight: bold;
}

/* 시그니처 */
.gapu-content .content-about .signiture-container {
    text-align: left;
    margin-top: 100px;
}
.gapu-content .content-about .signiture-container .title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}