body.white {
  background-color: white;
  color: black;
}
body.black {
  background-color: black;
  color: white;
}
#logo {
  width:150px;
}
.container {
  padding-top: 20px;
}
#control {
  margin-bottom: 20px;
  float:right;
}
/*
header {
  border-bottom: 1px solid gray;
  padding:20px;
}
nav {
  width: 200px;
  height: 600px;
  border-right: 1px solid gray;
  float:left;
}
nav ol {
  list-style: none;
  padding: 0px;
}
article {
  float:left;
  padding-left: 20px;
  width: 800px;
}
h2 {
  font-size: 50px;
}
#control {
  float:right;
}

header img {
  float:right;
  height: 100px;
}
*/